[Interface]
Address       = {{ wg_address }}
PrivateKey    = {{ wg_private_key_content }}

{% for peer in wg_peers %}
[Peer]
PublicKey         = {{ peer.public_key }}
AllowedIPs        = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint          = {{ peer.endpoint }}
PersistentKeepalive = {{ peer.persistent_keepalive | default(25) }}
{% endif %}
{% endfor %}
